.site-content{
	padding-top: 140px;
	font-size: 15px;
	color: #333;

	a{
		color: $blue;
	}
	h1, .h1{
		font-size: 24px;	
		color: #666;	
	}
	h2, .h2{
		font-size: 20px;
		color: #666;
	}
	h3, .h2{
		font-size: 20px;
		color: #666;
	}
	p{
		color: #333;
	}


	.entry-meta{
		margin-bottom: 10px;
	}
	.byline{
		margin-right: 15px;
	}
	.top-category{
		margin-bottom: 10px;
	}
	.thumb-icon{
		display: none;
	}
	article.post{
		margin-bottom: 30px;
	    padding-bottom: 30px;
	    border-bottom: 1px solid #eee;

	}

	.content-area{
		padding-right: 50px;
		@include sm{
			padding-right: 15px; 
		}
	}
	.category_name{		
		color: $white;		
	    margin-bottom: 20px;	    
	    span{
	    	display: inline-block;
	    	color:$white;
	    	padding: 5px 20px;
	    	font-size: 20px;
	    	border-radius: 0 20px 0 20px;
	    	// border: 1px solid $blue;
	    	background: $blue;
	    	
	    }
	}
	.post-title{
		font-size: 15px;
		a{
			color: $blue;
		}
	}
	.content-text{
		font-size: 13px;
	}
	.read_more{		
		font-size: 12px;		
		text-decoration: underline;
		text-transform: normal;
	}
	.recent_post{
		margin-bottom: 30px;
		.post-title{
			font-size: 20px;
		}
		.content-text{
			font-size: 15px;
		}
	}	
	.normal-post-list{
		margin-bottom: 30px;
	    padding-bottom: 30px;
	    border-bottom: 1px solid #eee;
		display: flex;
		.normal-post{
			
			flex: 1;
			display: flex;
			align-items: flex-start;	
		
					
			.thumbnail1{				
				width: 100px;
				margin-right: 10px;
				flex: 1 0 auto;
			}
			.post-title{
				margin: 0;
			}
			.post-infor{

			}
		}
	}

	.comments-area{
		background: #f3f3f3;
		padding: 20px 20px 10px;
		margin: 30px 0;
		.comment-reply-title{
			margin-top: 0;
		}
		.comment-form-comment{
			label{
				display: block;
				color: #666;
				font-weight: normal;
			}
			textarea{
				min-height: 140px;
				width: 100%;
				border-color: #eee;
			}
		}
		.form-submit{
			input{
				margin: 5px 0;
				color: $white;
				background: $blue2;
				border: 1px solid #7fe3dd;
				height: 36px;
				line-height: 36px;
				padding: 0 20px;
				border-radius: 5px;
			}
		}

	}

	//side bar
	.blog-sidebar{
		padding-top: 58px;
		.widget{
			.widget-title{
				display: inline-block;
		    	color:#666;
		    	padding: 8px 20px;
		    	font-size: 20px;
		    	border-radius: 0 20px 0 20px ;
		    	border: 1px solid $dark-grey2;		    	
		    	font-size: 18px;
		    	font-weight: normal;
		    	margin-bottom: 0;
			}
			ul{
				padding-left: 20px;
				padding-top: 10px;
				li{
					margin-bottom: 5px;
				}
			}
			.tagcloud{
				padding-left: 20px;
				padding-top: 10px;
				a{
					background: $blue;
					color: $white;
					margin-right: 5px;
					display: inline-block;
					padding: 1px 5px;
					border-radius: 3px;
				}
			}
			.search-form{				
		    	display: block;
		    	color:$white;
		    	padding: 10px 20px 20px 20px;		    	
		    	border-radius: 0 20px 0 20px;		    	
		    	background: $blue;
				label{
					font-weight: normal
				}
				input[type="search"]{
					margin: 5px 0;
					color: #333;
					width: 100%;
					height: 34px;
					border: none;
					background: $white;					
				}
				input[type="submit"]{
					margin: 5px 0;
					color: $white;
					background: $blue2;
					border: 1px solid #7fe3dd;
					height: 36px;
					line-height: 36px;
					padding: 0 20px;
					border-radius: 5px;

				}
				.screen-reader-text{
					font-size: 18px;
				}
			}
		}
	}
}