// modal default
.modal.in {
    @include max-md{
        z-index: 99999999;
    }
    .modal-dialog{
        position: absolute;
       @include center-pos; 
       top: 45%;
       @include max-md{
            width: 90%;
            max-width: 600px; 
            margin: 0; 
        }  
        .close {
            font-size: 60px;
            color: $blue;
            position: absolute;
            top: -15px;
            right: -80px;
            opacity: 1;
            text-shadow: none;
            @include xs {
                right: 0;
            }
            @include sm {
                right: 0;
            }
        } 
        
        
        &.popups{ 
            @include min-md{
                width: 980px;
            }
            .modal-content{
                .modal-header, .modal-footer{
                    display: none;
                }
                .modal-body{
                    padding: 0;
                    border-radius: 5px;
                    overflow: auto;
                     @include max-md{
                        max-height: 90vh;
                    }
                    button{
                        width: 100%;
                        padding: 10px;
                        font-size: 13px;
                        font-weight: 500;
                        margin-top: 0;
                        width: auto;
                    }
                    .nowrap{
                        white-space: nowrap;
                    }
                    @include max-md{
                        .img-bg{
                            opacity: .05;
                            position: absolute;
                            left: 0;
                            top: 0;
                            img{position: absolute}
                        }
                    } 
                    // login popup
                    &.popup-login{
                        .img-hero{                            
                            position: relative;
                            .text{
                                position: absolute;                                
                                @include ver-pos;                                                              
                                background: rgba(0,0,0,.45);
                                right: 360px;
                                width: calc(100% - 360px);
                                h2{
                                    color: $white;
                                    font-size: 43px;
                                    width: 470px;   
                                    font-weight: 500;
                                    float: right;
                                    padding-right: 30px;
                                    text-align: right;
                                    margin: 20px 0;                                    
                                }
                                @include max-md{
                                    display: none;        
                                }

                            }
                            img{
                                width: 100%;  
                                @include border-radius(5px 5px 0 0); 
                                @include max-md{
                                    display: none;        
                                }                     
                            }
                            
                        }
                        .form-signup{
                            background: $white;                                                      
                            color: #666;
                            position: absolute;
                            right: 30px;
                            bottom: -30px;
                            width: 330px;                            
                            @include box-shadow(0px 0px 10px 4px rgba(0,0,0,.5));
                            @include border-radius(5px);
                            form{
                                padding: 10px 30px 10px;  
                            }
                            h3{
                                font-size: 20px;
                                text-transform: uppercase;
                                color: $blue;
                                font-weight: 700;
                                padding: 10px 30px 0;
                                margin-bottom: 0; 
                                
                            }
                            .desc{
                                font-size: 13px;

                            }
                            .form-control{
                                font-size: 14px;
                                height: 40px;
                                color: #333;                                
                                @include placeholder(#999,Montserrat);

                            }  
                            button{
                                width: 100%;
                            }                          
                            
                            .bottom-link{
                                *,a{color: #999;font-size: 12px;}                                
                                text-align: center;
                                margin-top: 10px;
                                margin-bottom: 30px;
                                
                            }
                            @include max-md{
                                @include box-shadow(none);
                                position: static;
                                width: 100%;
                                form,h3{
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }
                                h3{
                                    color: $white;
                                    background: $blue;
                                    margin: 0; padding: 20px;
                                }                                
                                // button{width: auto;}
                            }
                        }
                        .partners{
                            background: $gray1;
                            height: 130px;
                            padding-top: 50px;
                            @include border-radius(0 0 5px 5px);
                            ul{
                                @include clearfix;                                
                                li{
                                    float: left;
                                    padding: 10px 15px;
                                    cursor: pointer;
                                }
                            }
                            @include max-md{
                                display: none;        
                            }
                        }
                                           
                    }

                    //celebrate-poup
                    .celebrate-content{
                        position: absolute;
                        bottom: 40px;
                        right: 70px;                        
                        text-align: right;
                        .text{
                            font-size: 16px;
                            color: #333;
                            line-height: 1.7;
                            margin-bottom: 60px;

                            h3{
                                font-size: 46px;
                                font-weight: 300;
                                color: $blue;
                                margin-bottom: 30px;
                            }
                            .discount-num{
                                font-weight: 700;                                
                                display: inline-block;    
                                position: relative; 
                                z-index: 1;  
                                padding-left: 15px;                         
                                &:after{
                                    background: url(../images/popups/discount.png) no-repeat;
                                    content: "";
                                    height: 42px;
                                    width: 134px;
                                    position: absolute;
                                    top: -8px;
                                    left: 0;
                                    z-index: -1;

                                }
                            }
                            p{
                                margin-top: 20px;
                                font-size: 16px;
                                color: #333;
                                line-height: 1.5;
                                font-weight: 400
                            }
                            button{
                                min-width: 150px;
                                padding: 10px;
                                margin-top: 20px;
                            }
                        }
                        .exp-datetime{
                            @include clearfix;
                            li{                                
                                padding: 0 20px;
                                border-right: 1px solid #eeeeee;
                                text-align: center;
                                display: inline-block;
                                &:last-of-type{border-right: none;padding-right: 0;}
                                span{
                                    display: block;
                                    &.number{
                                       font-size: 28px;
                                        color: $blue;
                                        font-weight: 400;
                                    }
                                    &.label{
                                        color: #999;
                                        font-size: 12px;
                                        font-weight: 400;
                                    }

                                }
                            }
                        }
                        @include max-md{
                           text-align: center;
                           width: 89%;
                           position: static;
                           margin: 40px auto 30px;
                           .text{
                            margin-bottom: 40px;
                            h3{
                                font-weight: 800;
                                font-size: 26px;
                                color: $blue;
                            }
                            .discount-num{
                                margin: 5px 0;
                            }
                           }
                           .exp-datetime{
                            li{
                                @include xxs{
                                    padding: 0 10px;
                                }
                                
                                @include xxs{
                                    padding: 0 2px;
                                }
                            }
                           }

                        }
                    }

                    // popup-discover
                    &.popup-discover{
                        text-align: right;
                        .celebrate-content{
                            text-align: left;
                            right: inherit;
                            left: 70px;
                            width: 650px;

                            .text{
                                color: #666;
                                h3{
                                    color: #666;
                                    font-size: 42px;
                                }
                                p{color: #666;}
                            } 

                            .desc{padding-right: 70px;margin-bottom: 20px;}
                            @include max-md{
                                width: 89%; 
                                .text{
                                    text-align: center;
                                    h3{
                                        color: $blue;
                                        text-align: left;
                                        font-size: 26px;
                                        .nowrap{white-space: normal;}

                                    } 
                                    .desc{
                                        padding-right: 0;   
                                        text-align: left;                                 
                                    }                                   
                                }
                            }

                        }
                    }
                    &.popup-congratulations{
                        .content{
                            text-align: center;
                            width: 90%;
                            margin: 0 auto;

                            h3{
                                color: #666;
                                font-size: 26px;
                            }
                            .desc{
                                font-size: 15px;
                                color: #555;
                            }

                        }
                    }
                }
            } 
            

            

        }

        
    } 
    
}
// popup-congratulations
#popCongratulations{
   .popups{
    @media screen and (min-width: 768px){
        width: 660px;
    }
    .content{
        text-align: center;
        color: #666;
        padding: 50px 20px 40px; 
        width: 80%;
        margin: 0 auto;
        h3 {font-size: 28px; font-weight: 500;margin-bottom: 30px;margin-top: 10px;}
        .desc{            
            &,p{
                font-size: 14px;
                font-weight: 400;
                color: #666;
                margin-bottom: 15px;
                line-height: 1.4;
            }            
            .x{font-weight: 900;}
        }
        button{
            margin-top: 20px;
        }
        @include xxs{
            padding-right: 0;
            padding-left: 0;
            width: 89%;
        }
     }
   }    
} 


